<h3>以下の内容で、投稿します</h3>

<%= form_with(model: @article, local: true, url: articles_path ) do |f| %>
  <%= f.hidden_field :type %>
  <%= f.hidden_field :image %>
  <%= f.hidden_field :image_cache %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>

  <p>記事種類：<%= @article.type_i18n %></p>
  <p>写真：<%= image_tag(@article.image.url) if @article.image && @article.image.url %></p>
  <p>タイトル:<%= @article.title %></p>
  <p>本文:<%= @article.content %></p>

  <% if params[:draft] %>
    <%= f.submit "下書き保存する", name: "draft" %>
  <% else %>
    <%= f.submit "登録する" %>
  <% end %>
  <%= f.submit "戻る", name: "back" %>
<% end %>
