<strong class="has-text-black has-background-warning is-size-3">最新記事・質問一覧</strong>

<% @articles.first(100).each do |article| %>
<article class="box media">
  <figure class="media-left">
    <p class="image is-10x10">
      <% if article.image? %>
        <%= link_to article_path(article.id) do %><%= image_tag article.image.url %><% end %><br>
      <% else %>
        <%= link_to article_path(article.id) do %><%= image_tag (asset_path"no_image.png") %><% end %><br>
      <% end %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <h4><%= article.type_i18n %>【<%= link_to article_path(article.id) do %><%= article.title %><% end %>】</h4><br>
      <h6>投稿者：<%= link_to article.user.name, user_path(article.user_id) %></h6>
        <%= link_to article_path(article.id) do %><%= article.content %><% end %><br>
        <small><a><i class="fa-solid fa-eye"></i><%= article.impressions_count %></a> ・ <a><i class="fa-solid fa-heart"></i><%= article.likes.count %></a> ・ <a><i class="fa-solid fa-star"></i><%= article.favorites.count %></a></small>
      </p>
    </div>
  </div>
</article>
    <% end %>

<%= paginate @articles %>