<h1>記事詳細画面</h1>

<p>PV:<%= @article.impressions_count %></p>

<div class="like-link" id="like-link-<%= @article.id %>">
  <%= render partial: 'likes/like', locals: { article: @article } %>
</div>

<% if user_signed_in? %>
  <% unless @article.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <span class="favorite_count"><%= @article.favorites.count %></span>
    <% else %>
      <%= link_to 'お気に入り', favorites_path(article_id: @article.id), method: :post, class: 'btn btn-primary' %>
      <span class="favorite_count"><%= @article.favorites.count %></span>
    <% end %>
  <% end %>
<% end %>

<% if @article.draft? %>
  <h2><%= "この記事は下書きのため未公開です" %></h2>
<% end %>
<p>記事種類： <%= @article.type_i18n %><p>
  <strong>画像:</strong>
<% if @article.image? %>
  <%= image_tag @article.image.url %>
<% else %>
  <%= "画像の添付はありません" %>
<% end %>
<p>タイトル: <%= @article.title %></p>
<p>内容: <%= @article.content %></p>

<% if user_signed_in? %>
  <% if @article.user_id == current_user.id %>
    <%= link_to "編集", edit_article_path(@article.id) %>
  <% end %>

  <p>投稿コメント一覧</p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, article: @article } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
<% end %>