<h2>ユーザー情報編集〜自己紹介〜 </h2>

<%= form_with(model: @user, local: true, url: edit_step3_user_path, method: :post, html: { class: 'first-main_box' }) do |f| %>

  <% if @user.image? %>
  <div class="field">
    <%= f.label :image %>確認<br />
    <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
    <%= f.hidden_field :image_cache %>
  </div>
  <% end %>
  
  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_area :introduction, size: "30x5", placeholder: '自己紹介を記入してください' %>
    <%= f.hidden_field :introduction %>
  </div>
    <div class="actions">
    <%= f.submit "次へ" %>
  </div>
<% end %>

<%= form_with(model: @user, local: true, url: edit_step1_user_path, method: :get) do |f| %>
  <%= f.hidden_field :image_cache %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :birthday %>
  <%= f.hidden_field :sex %>
  <%= f.hidden_field :prefectures %>
  <%= f.submit "戻る", name: "back" %>
<% end %>