<h2>ユーザー情報編集〜パスワード入力〜 </h2>

<%= form_with(model: @user, local: true, url: user_path(@user), method: :put, html: { class: 'first-main_box' }) do |f| %>

  <div class="field">
    <%= f.label :password %> <br><i>(パスワードを入力して更新してください)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'パスワードを入力' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br><i>(パスワードをもう一度入力してください)<br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'パスワードを再入力' %>
  </div>

    <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>
<%#= link_to "戻るjava", "javascript:history.back();" %>

<%= form_with(model: @user, local: true, url: edit_step3_user_path, method: :post) do |f| %>
  <%= f.submit "戻る", name: "back" %>
<% end %>