<p class=" has-text-centered has-background-success is-size-3">ユーザー情報編集<br>〜自己紹介〜</p>
<br>
<div class="box">
  <%= form_with(model: @user, local: true, url: edit_step3_user_path, method: :post, html: { class: 'first-main_box' }) do |f| %>
    <% if @user.image? %>
    <div class="field">
      <label class="label">変更<%= f.label :image %>確認</label>
      <div class="field has-addons">
        <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
      </div>
        <%= f.hidden_field :image_cache %>
    </div>
    <% end %>
  <br>
  <div class="field">
    <label class="label"><%= f.label :introduction %></label>
    <div class="control has-icons-left">
      <%= f.text_area :introduction, placeholder: '自己紹介を記入してください', class: "textarea is-info" %>
    </div>
  </div>
  <br>
  <div class="field">
    <%= f.submit "次へ", class: "button is-primary" %>
    <%= f.submit "戻る", name: "back", class: "button is-outline" %>
  </div>
  <% end %>
</div>