<p class=" has-text-centered has-background-success is-size-3">ユーザー情報編集<br>〜基本情報〜</p>
<br>
<div class="box">
  <%= form_with(model: @user, local: true, url: edit_step2_user_path, method: :post, html: { class: 'first-main_box' }) do |f| %>
  <div class="field">
    <label class="label"><%= f.label :image %></label>
    <div class="field has-addons">
      <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
    </div>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
  </div>
  <br>
  <div class="field">
    <label class="label"><%= f.label :name %></label>
    <div class="control has-icons-left">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: '名前を入力', class: "input is-info" %>
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label"><%= f.label :email %></label>
    <div class="control has-icons-left">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'katekate@email.com', class: "input is-success" %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label"><%= f.label :birthday %></label>
    <div class="control">
      <%= f.date_select :birthday, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year), default: Date.new(2000, 1 , 1), autofocus: true, autocomplete: "birthday", class: "date-select" %>
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label"><%= f.label :sex %></label>
    <div class="control">
      <div class="select">
        <%= f.select :sex, [["未選択", "unanswered"], ["男性", "male"], ["女性", "female"]], autofocus: true %>
      </div>
    </div>
  </div>
  <br>
  <div class="field">
    <label class="label"><%= f.label :prefectures %></label>
    <div class="control">
      <div class="select">
        <%= f.select :prefectures, User.prefectures.keys, {}, autofocus: true %>
      </div>
    </div>
  </div>
  <br>
  <div class="field">
    <%= f.submit "次へ", class: "button is-primary" %>
  </div>
  <% end %>
</div>
<br>
  <%= link_to user_path(@user) do %><button class="button is-outline">戻る</button><% end %>