<h1><%= @user.name %>のページ</h1>

<% if @user.image? %>
  <%= image_tag @user.image.url %>
<% else %>
  <%= image_tag (asset_path'no_image.png') %>
<% end %>
<h3><%= @user.name %></h3>
<p><%= @user.prefectures %></p>
<p><%= @user_age %>代</p>
<p><%= @user.sex_i18n %></p>
<p>自己紹介<%= @user.introduction %></p>

<div class="sns-link">
  <ul class="profile-links">
    <% if @user.twitter_url.present? %>
      <li class="profile-link">
        <%= link_to @user.twitter_url, target: :_blank do %>
          <i class="fab fa-twitter fa-2x"></i>
        <% end %>
      </li>
    <% end %>
    <% if @user.instagram_url.present? %>
      <li class="profile-link">
        <%= link_to @user.instagram_url, target: :_blank do %>
          <i class="fab fa-instagram fa-2x"></i>
        <% end %>
      </li>
    <% end %>
    <% if @user.tiktok_url.present? %>
      <li class="profile-link">
        <%= link_to @user.tiktok_url, target: :_blank do %>
          <i class="fab fa-tiktok fa-2x"></i>
        <% end %>
      </li>
    <% end %>
    <% if @user.facebook_url.present? %>
      <li class="profile-link">
        <%= link_to @user.facebook_url, target: :_blank do %>
          <i class="fab fa-facebook fa-2x"></i>
        <% end %>
      </li>
    <% end %>
    <% if @user.youtube_url.present? %>
      <li class="profile-link">
        <%= link_to @user.youtube_url, target: :_blank do %>
          <i class="fab fa-youtube fa-2x"></i>
        <% end %>
      </li>
    <% end %>
    <% if @user.website_url.present? %>
      <li class="profile-link">
        <%= link_to @user.website_url, target: :_blank do %>
          <i class="fa-regular fa-window-maximize fa-2x"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<p>総like数<%= @like_count_all %></p>
<p>総お気に入り数<%= @favorite_count_all %></p>
<p>総PV数<%= @impression_count_all %></p>

<% if @user.id == current_user.id %>
  <%= link_to "プロフィール編集", edit_user_registration_path(@user) %> |
  <%= link_to "お気に入り一覧", favorites_path(@user) %> |
  <%= link_to 'フォロー・フォロワー', follow_index_user_path(@user) %>

  <table>
    <tr>
      <th>記事種類</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>状態</th>
    </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.type_i18n %></td>
      <td><%= article.title %></td>
      <td><%= article.content %></td>
      <td><%= "下書き" if article.draft? %></td>
      <td><%= link_to '詳細', article_path(article.id) %></td>
      <td><%= link_to "編集", edit_article_path(article.id) %></td>
      <td><%= link_to '削除', article_path(article.id), method: :delete, data: { confirm: "本当に削除しても良いですか？" } %></td>
    </tr>
  <% end %>
  <% else %>
    <%= render 'follow_form', user: @user %>
<% end %>
</table>