<!DOCTYPE html>
<html>
  <head>
    <title>Katekate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= search_form_for @search, url: search_articles_path do |f| %>
    <%= f.search_field :title_or_content_or_user_name_cont, placeholder: 'キーワードを入力' %>
    <%= f.submit "検索" %>
  <% end %>

    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to "管理者画面", rails_admin_path %>
      <% end %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "トップページ", articles_path %>
      <%= link_to "マイページ", user_path(current_user.id) %>
      <%= link_to "ランキング", rank_articles_path %>
      <%= link_to "メッセージ", users_path %>
      <%= link_to '記事新規投稿', new_article_path %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "トップページ", articles_path %>
      <%= link_to "ランキング", rank_articles_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
