<!DOCTYPE html>
<html>
  <head>
    <title>katekate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <body>
    <%# ページ最上部ヘッダー %>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <%= image_tag (asset_path'katekate3.png'), size: "150x150" %>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="targetMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end is-hidden-touch">
          <div class="field has-addons">
            <%= search_form_for @search, class: "navbar-item",url: search_articles_path do |f| %>
              <%= f.search_field :title_or_content_or_user_name_cont, placeholder: 'キーワードを入力' %>
              <%= f.submit "検索", class: "button is-info is-small" %>
            <% end %>
          </div>
        </div>
      </div>
      <div id="targetMenu" class="navbar-menu">
        <div class="navbar-end">
          <% if user_signed_in? %>
            <% if current_user.image? %>
              <%= link_to user_path(current_user.id), class: "navbar-item" do %>
              <%= image_tag current_user.image_url %><p class="is-size-7">マイページ</p><% end %>
            <% else %>
              <%= link_to user_path(current_user.id), class: "navbar-item" do %>
              <%= image_tag (asset_path'no_image.png') %><p class="is-size-7">マイページ</p><% end %>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <% if unchecked_notifications.any? %>
              <%= link_to notifications_path, class: "navbar-item" do %>
              <i class="fa fa-circle" style="color: gold;"></i>
              <i class="fa fa-bell fa-lg"></i>
              <p class="is-size-7">通知</p><% end %>
            <% else %>
              <%= link_to notifications_path, class: "navbar-item" do %>
              <i class="fa fa-bell fa-lg"></i><p class="is-size-7">通知</p><% end %>
            <% end %>
            <%= link_to users_path, class: "navbar-item" do %>
            <i class="fa fa-envelope fa-lg"></i><p class="is-size-7">メッセージ</p><% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "navbar-item" do %>
            <i class="fa fa-user fa-lg"></i><p class="is-size-7">ログアウト</p><% end %>
          <% else %>
            <%= link_to new_user_session_path, class: "navbar-item" do %>
            <i class="fa fa-user fa-lg"></i><p class="is-size-7">ログイン</p><% end %>
            <%= link_to new_user_registration_path, class: "navbar-item" do %>
            <i class="fa fa-user-pen fa-lg"></i><p class="is-size-7">新規登録</p><% end %>
          <% end %>
        </div>
      </div>
    </nav>

    <%# ヒーローバナー部分 %>
    <div class="hero is-medium has-background">
      <%= image_tag(asset_path"top.png") %>
    </div>

    <%# ヘッダータブ部 %>
    <section class="level-item">
      <div class="level-item tabs">
        <ul>
          <li class="is-active">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <%= link_to rails_admin_path do %><i class="fa-solid fa-key fa-lg"></i>管理者ページ</li><% end %>
            <% end %>
            <li><%= link_to articles_path do %><i class="fa-solid fa-house"></i>トップページ</li><% end %>
            <li><%= link_to rank_articles_path do %><i class="fa-solid fa-crown fa-lg"></i>ランキング</li><% end %>
            <li><%= link_to new_article_path, class: "article-new" do %><i class="fa-solid fa-square-pen fa-lg"></i>記事投稿</li><% end %>
          <% else %>
            <li><%= link_to articles_path do %><i class="fa-solid fa-house"></i>トップページ</li><% end %>
            <li><%= link_to rank_articles_path do %><i class="fa-solid fa-crown fa-lg"></i>ランキング</li><% end %>
          <% end %>
        </ul>
      </div>
    </section><br>
    <a class="is-expanded is-block has-text-centered is-hidden-desktop">
      <%= search_form_for @search, url: search_articles_path do |f| %>
        <%= f.search_field :title_or_content_or_user_name_cont, placeholder: 'キーワードを入力' %>
        <%= f.submit "検索", class: "button is-info is-small" %>
      <% end %><br>
    </a>

<%# notice/alert部分 %>
    <% if notice %>
      <div class="columns">
        <div class="column is-8 is-offset-3">
          <article class="message is-info">
            <div class="message-header">
              <strong class="alert alert-notice">お知らせ</strong>
            </div>
            <div class="message-body">
              <p class="alert alert-notice"><%= notice %></p>
            </div>
          </article>
        </div>
      </div>
    <% end %>
    <% if alert %>
      <div class="columns">
        <div class="column is-8 is-offset-3">
          <article class="message is-danger">
            <div class="message-header">
              <strong class="alert alert-notice">アラート</strong>
            </div>
            <div class="message-body">
              <p class="alert alert-notice"><%= alert %></p>
            </div>
          </article>
        </div>
      </div>
    <% end %>

    <%# メインコンテンツ左側 %>
    <main class="columns">
      <div class="submenu column is-3">
        <aside class="box">
        katekate〜家庭の過程〜<br>
        katekateは親や子供が抱える問題や知識を他者と共有しユーザー同士で繋がることができるアプリです。
        あなたの悩みは誰かの悩みでもあり、あなたの経験が誰かの希望になります。
        </aside>
        <aside class="box menu is-hidden-mobile">
          <p class="menu-label">
            おすすめサイト
          </p>
          <ul class="menu-list">
            <li><a href="https://onl.bz/3wAUbyp">DIVE INTO CODE</a></li>
            <li><a href="https://www.mhlw.go.jp/kokoro/parent/cons/text1.html">こころもメンテしよう<small>厚生労働省</small></a></li>
            <li><a href="https://www.savechildren.or.jp/oyakonomikata/anata-no-mikata/soudan/">おやこのミカタ<small>Save the children</small></a></li>
          </ul>
          <p class="menu-label">
            開発者紹介
          </p>
          <ul class="menu-list">
            <li><a>Shota Suzuki</a>
              <ul>
                <li><a href="https://twitter.com/seshiruff4214"><i class="fab fa-twitter fa-lg"></i> Twitter</a></li>
                <li><a href="https://github.com/shota4214"><i class="fab fa-github fa-lg"></i> GitHub</a></li>
                <li><a href="https://qiita.com/seshiruff4214"><i class="fa fa-q fa-lg"></i> Qiita</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column is-8">
        <%= yield %>
      </div>
    </main>

    <%# フッター %>
    <footer class="footer">
      <div class="content has-text-centered">
          ©️ 2022- <strong>katekate</strong> by <a href="https://twitter.com/seshiruff4214">Shota Suzuki</a>.The source code is licensed
          <a href="https://github.com/shota4214/Graduation_exam_katekate.git">GitHub</a>.
      </div>
    </footer>
  </body>
</html>

<script>
  $(document).ready(function() {
  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {
      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
  });
});
</script>