<!DOCTYPE html>
<html>
  <head>
    <title>katekate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar has-background-danger is-light">
      <div class="navbar-brand">
        <a class="navbar-item">
          <%= image_tag (asset_path'katekate.png') %>
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <%= search_form_for @search, url: search_articles_path do |f| %>
            <%= f.search_field :title_or_content_or_user_name_cont, placeholder: 'キーワードを入力' %>
            <%= f.submit "検索", class: "button is-info is-small" %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path %>
            <%= link_to "新規登録", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </nav>


            <%= search_form_for @search, url: search_articles_path do |f| %>
              <%= f.search_field :title_or_content_or_user_name_cont, placeholder: 'キーワードを入力' %>
              <%= f.submit "検索", class: "button is-info is-small" %>
            <% end %>


    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to "管理者画面", rails_admin_path %>
      <% end %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "トップページ", articles_path %>
      <%= link_to "マイページ", user_path(current_user.id) %>
      <%= link_to "ランキング", rank_articles_path %>
      <%= link_to "メッセージ", users_path %>
      <%= link_to '記事新規投稿', new_article_path %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "トップページ", articles_path %>
      <%= link_to "ランキング", rank_articles_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class="footer">
      <div class="content has-text-centered">
          <a class="navbar-item">
            <%= image_tag (asset_path'katekate.png') %>
          </a>
        <p>
          <strong>katekate</strong> by <a href="https://jgthms.com">Shota Suzuki</a>. The source code is licensed
          <a href="https://github.com/shota4214/Graduation_exam_katekate.git">GitHub</a>. The website content
          is licensed <a href="">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
