<!DOCTYPE html>
<html>
  <head>
    <title>katekate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
  <%# ページ最上部 %>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <%= image_tag (asset_path'katekate.png') %>
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <%= search_form_for @search, url: search_articles_path do |f| %>
            <%= f.search_field :title_or_content_or_user_name_cont, placeholder: 'キーワードを入力' %>
            <%= f.submit "検索", class: "button is-info is-small" %>
          <% end %>
          <% if user_signed_in? %>
            <% if current_user.image? %>
              <%= link_to user_path(current_user.id) do %>
                <%= image_tag current_user.image_url, size: '15%', class: "header-user-image"%>
              <% end %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to user_path(current_user.id) do %>
                <%= image_tag (asset_path'no_image.png'), size: '15%', class: "header-user-image"%>
              <% end %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% end %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path %>
            <%= link_to "新規登録", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </nav>

    <%# ヒーローバナー部分 %>
    <div class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="hero-title">何か写真入れたい</h1>
          <h2 class="hero-subtitle">@</h2>
        </div>
      </div>
    </div>

    <%# ヘッダー部分 %>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%# ヘッダータブ部 %>
    <section class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="level-item tabs">
          <ul>
            <li class="is-active">
            <% if user_signed_in? %>
              <% if current_user.admin? %>
                <%= link_to "管理者画面", rails_admin_path %></li>
              <% end %>
              <li><%= link_to "トップページ", articles_path %></li>
              <li><%= link_to "マイページ", user_path(current_user.id) %></li>
              <li><%= link_to "ランキング", rank_articles_path %></li>
              <li><%= link_to "メッセージ", users_path %></li>
              <li><%= link_to '記事新規投稿', new_article_path %></li>
            <% else %>
              <li><%= link_to "トップページ", articles_path %></li>
              <li><%= link_to "ランキング", rank_articles_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%# <a class="button is-greylight">フォロー</a> %>
        </div>
      </div>
    </section>

    <%# メインコンテンツ左側 %>
    <main class="columns">
      <div class="submenu column is-3">
        <aside class="box">
        katekate〜家庭の過程〜
        katekateは親や子供が抱える問題や知識を他者と共有しユーザー同士で繋がることができるアプリです。
        あなたの悩みは誰かの悩みでもあり、あなたの経験が誰かの希望になります。
        </aside>
        <aside class="box menu">
          <p class="menu-label">
              おすすめの一言
          </p>
          <ul class="menu-list">

          <%= search_form_for @search, url: search_articles_path do |f| %>
            <%= f.search_field :title_or_content_or_user_name_cont, placeholder: 'キーワードを入力' %>
            <%= f.submit "検索", class: "button is-small is-info" %>
          <% end %>
          <% if user_signed_in? %>
            <% if current_user.image? %>
              ログインユーザー<%= link_to user_path(current_user.id) do %><%= current_user.name %><% end %>
              <%= link_to user_path(current_user.id) do %>
                <%= image_tag current_user.image_url, size: '50x50%', class: "header-user-image"%>
              <% end %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% else %>
              ログインユーザー<%= link_to user_path(current_user.id) do %><%= current_user.name %><% end %>
              <%= link_to user_path(current_user.id) do %>
                <%= image_tag (asset_path'no_image.png'), size: '50x50', class: "header-user-image"%>
              <% end %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% end %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path %>
            <%= link_to "新規登録", new_user_registration_path %>
          <% end %>


              <li><a href="#">株式会社カサ<small>@casainc</small></a></li>
              <li><a href="#">レア製作所<small>@rea-product</small></a></li>
              <li><a href="#">オフィス・アル<small>@office-al</small></a></li>
            </ul>
            <p class="menu-label">
                キーワード
            </p>
            <ul class="menu-list">
              <li><a href="#">システム開発</a></li>
              <li><a class="is-active" href="#">技術教育</a>
                  <ul>
                    <li><a href="#">一社研修</a></li>
                    <li><a href="#">定期開催コース</a></li>
                    </ul>
                </li>
                <li><a href="#">ソフトウェアテスティング</a></li>
            </ul>
        </aside>

      </div>

      <div class="column is-8">
          <%= yield %>
      </div>
    </main>

    <%# フッター %>
    <footer class="footer">
      <div class="content has-text-centered">
          <a class="navbar-item">
            <%= image_tag (asset_path'katekate.png') %>
          </a>
        <p>
          <strong>katekate</strong> by <a href="https://jgthms.com">Shota Suzuki</a>. The source code is licensed
          <a href="https://github.com/shota4214/Graduation_exam_katekate.git">GitHub</a>. The website content
          is licensed <a href="">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
